@charset "utf-8";

/*
	Final Project Recipe Getter
    Shayna Jamieson
    Bridget Black
    2019-03-09
    Last Updated: 2019-03-16

	File: styles.css	

    Associated File: index.html
*/

/* Bootstrap sizes:
		xs < 768px		container width: none(auto)
		sm < 992px		container width: 750px
		md < 1200px		container width: 970px
		lg >= 1200px	container width: 1170px
container width = # + column width + gutter width
*/

html, body {
		/* white */
	background-color: #fff;
}

.header {
		/* Darker Yellow */
	background-color: #fdfd96;
		/* Brown-Grey */
	color: #73716d;
}

h1 {
	text-align: center;
		/* Imported Font-Family, link in index.html */
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: black;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
	font-size: 36px;
}

	/* For Med-XSmall viewport */
@media only screen and (max-width: 1199px) {
	.header {
		display: none;
	}
		/* Darker Yellow */
	.bannerStyles {
		background-color: #fdfd96;
	}
}

	/* For Large viewport */
@media only screen and (min-width: 1200px) {
		/* Hide image in banner */
	#bannerImg {
		display: none;
	}
}

	/* Give banner a small horizontal line across bottom + padding */
.bannerStyles {
	border-bottom: 1px ridge;
	padding-bottom: 10px;
}

	/* Form + Tablet */
.containerStyle {
	margin: 0px auto;
	padding: 50px 0px;
	font-family: "Anonymous Pro";
	font-size: 24px;
	letter-spacing: .1em;
	overflow: hidden;
}

.footer {
		/* Lighter Yellow */
	background-color: #fefee1;
	margin: 0px auto;
	padding: 20px 0px;
}

	/*  */
.btn-default {
		/* Redish Grey */
	background: rgb(232, 228, 228);
	box-shadow: 1px 2px 5px #000000;
}

.btn-default:hover {
		/* White */
	background: #fff;
}

.hidden {
	display: none;
}

.errorSpan {
	color: darkred;
}

.errorInput {
	border: 2px solid darkred;
	background-color: #ffcccc;
}

	/* Font Awesom Bootstrap for Icons */
.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

	/* Font Awesom Bootstrap for Icons */
.fa:hover {
    opacity: 0.7;
}

	/* Font Awesom Bootstrap for Icons */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

	/* Font Awesom Bootstrap for Icons */
.fa-google {
  background: #dd4b39;
  color: white;
}

	/* Font Awesom Bootstrap for Icons */
.fa-github {
	background: #24292e;
	color: white;
}

	/* Shayna and Bridget's Images */
img {
	width: 120px;
	border: 1px solid black;
	border-radius: 50%;
}

	/* Control Egg image */
#headerImg, #bannerImg {
	width: 150px;
	border: none;
	border-radius: 0%;
}

/* Reduce size of Egg image inside banner */
#bannerImg {
	width: 75px;
	padding-top: 15px;
}

#divImg {
	width: 1000px;
	height: auto;
	overflow: hidden;
	border: none;
	border-radius: 0%;
	max-width: 100%;
}

	/* Tablet Div */
#results {
	height: 700px;
	overflow-y: scroll;
		/* 575px wide, 810px height */
	border: 40px solid transparent;
	padding: 15px;
	-webkit-border-image: url(tablet_final_project.png) 60;
	-o-border-image: url(tablet_final_project.png) 60;
	border-image: url(tablet_final_project.png) 60;
	text-align: center;
}