@charset "utf-8";

/* index.html styles */

html, body {
	background-color: #fff;
}

.header {
	background-color: #fdfd96;
	color: #73716d;
}

.rowStyles {
	border-bottom: 1px ridge;
	padding-bottom: 10px;
}

.containerStyle {
	margin: 0px auto;
	padding: 50px 0px;
	font-family: "Anonymous Pro";
	font-size: 24px;
	letter-spacing: .1em;
}

.footer {
	background-color: #fefee1;
	margin: 0px auto;
	padding: 20px 0px;
}

li, p {
	list-style-type: none;
	text-align: center;
}

.btn-default {
	background: rgb(232, 228, 228);
	box-shadow: 1px 2px 5px #000000;
}

.btn-default:hover {
	background: #fff;
}

/*#specsForm, #results {
	border: 5px solid gray;
}*/