@charset "utf-8";

/* index.html styles */

/* Bootstrap sizes:
		xs < 768px		container width: none(auto)
		sm < 992px		container width: 750px
		md < 1200px		container width: 970px
		lg >= 1200px	container width: 1170px
container width = # + column width + gutter width
*/

html, body {
	background-color: #fff;
}

.header {
	background-color: #fdfd96;
	color: #73716d;
}

h1 {
	list-style-type: none;
	text-align: center;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: black;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
	font-size: 36px;
}

@media only screen and (max-width: 1199px) {
	.header {
		display: none;
	}
	.bannerStyles {
		background-color: #fdfd96;
	}
}

@media only screen and (min-width: 1200px) {
	#bannerImg {
		display: none;
	}
}

.bannerStyles {
	border-bottom: 1px ridge;
	padding-bottom: 10px;
}

.containerStyle {
	margin: 0px auto;
	padding: 50px 0px;
	font-family: "Anonymous Pro";
	font-size: 24px;
	letter-spacing: .1em;
	overflow: hidden;
}

.footer {
	background-color: #fefee1;
	margin: 0px auto;
	padding: 20px 0px;
}

.btn-default {
	background: rgb(232, 228, 228);
	box-shadow: 1px 2px 5px #000000;
}

.btn-default:hover {
	background: #fff;
}

.hidden {
	display: none;
}

.errorSpan {
	color: darkred;
}

.errorInput {
	border: 2px solid darkred;
	background-color: #ffcccc;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-github {
	background: #24292e;
	color: white;
}

img {
	width: 120px;
	border: 1px solid black;
	border-radius: 50%;
}

#headerImg, #bannerImg {
	width: 150px;
	border: none;
	border-radius: none;
}

#bannerImg {
	width: 75px;
	padding-top: 15px;
}

#results {
	height: 700px;
	overflow-y: scroll;
		/* 575px wide, 810px height */
	border: 40px solid transparent;
	padding: 15px;
	-webkit-border-image: url(tablet_final_project.png) 60;
	-o-border-image: url(tablet_final_project.png) 60;
	border-image: url(tablet_final_project.png) 60;
}